.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  gap: 0px; /*пришлось занулить из-за большого расстояния*/
  padding: 80px;
}

.MainWithHeaderOffset {
  margin-top: 75px;
}
