.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  gap: 60px;
  padding: 80px 200px;
}

.MainWithHeaderOffset {
  margin-top: 81px;
}

@media screen and (max-width: 1440px) {
  .Main {
    padding: 60px 100px;
  }
}

@media screen and (max-width: 768px) {
  .Main {
    padding: 50px;
  }
}

@media screen and (max-width: 375px) {
  .Main {
    gap: 40px;
    padding: 20px;
  }
}
