:root {
  /* COLORS */
  /* For naming, use https://chir.ag/projects/name-that-color */

  /* Black */
  --black-70: rgba(0, 0, 0, 0.7);
  --black-40: rgba(0, 0, 0, 0.4);

  /* Firefly */
  --firefly-100: rgba(6, 14, 25, 1);
  --firefly-70: rgba(6, 14, 25, 0.7);

  /* Solitude */
  --solitude-100: rgba(223, 236, 255, 1);
  --solitude-90: rgba(223, 236, 255, 0.9);
  --solitude-60: rgba(223, 236, 255, 0.6);
  --solitude-50: rgba(223, 236, 255, 0.5);
  --solitude-40: rgba(223, 236, 255, 0.4);
  --solitude-30: rgba(223, 236, 255, 0.3);
  --solitude-20: rgba(223, 236, 255, 0.2);
  --solitude-10: rgba(223, 236, 255, 0.1);
  --solitude-5: rgba(223, 236, 255, 0.05);

  /* Anakiwa */
  --anikawa-20: rgba(140, 188, 255, 0.2);
  --anikawa-10: rgba(140, 188, 255, 0.1);
  --anikawa-5: rgba(140, 188, 255, 0.05);

  /* Mandy */
  --mandy-100: rgba(229, 81, 81, 1);
  --mandy-20: rgba(229, 81, 81, 0.2);

  /* Chenin */
  --chenin-100: rgba(219, 219, 93, 1);
  --chenin-20: rgba(219, 219, 93, 0.2);

  /* Mantis */
  --mantis-100: rgba(102, 207, 98, 1);
  --mantis-20: rgba(102, 207, 98, 0.2);

  /* Blue Ribbon */
  --blue-ribbon-100: rgba(0, 106, 255, 1);

  /* Flush Orange */
  --flush-orange-100: rgba(255, 123, 0, 1);

  /* FONT SIZES */
  --font-size-xxl: 40px;
  --font-size-xl: 36px;
  --font-size-xlg: 30px;
  --font-size-lg: 24px;
  --font-size-md: 20px;
  --font-size-ms: 18px;
  --font-size-sm: 16px;
  --font-size-xs: 14px;
  --font-size-xxs: 12px;
  --font-size-xxxs: 10px;
}
