.DefaultIntro {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 600px;
  padding: 100px 50px;
  background-color: var(--anikawa-10);
  border: 2px solid var(--solitude-100);
  backdrop-filter: blur(50px);
  border-radius: 50px;
}

.DefaultIntroSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: var(--font-size-md);
}

.DefaultIntroHeading {
  font-size: var(--font-size-xl);
  font-weight: 700;
  text-align: center;
}
