.DefaultOutro {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 600px;
  padding: 100px 50px;
  background-color: var(--anikawa-10);
  border: 2px solid var(--solitude-100);
  backdrop-filter: blur(50px);
  border-radius: 50px;
}

.DefaultOutroSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.DefaultOutroHeading {
  font-size: var(--font-size-xxl);
  font-weight: 700;
}

.DefaultOutroText {
  font-size: var(--font-size-md);
}

@media screen and (max-width: 1440px) {
  .DefaultOutro {
    padding: 80px 50px;
  }
}

@media screen and (max-width: 768px) {
  .DefaultOutro {
    padding: 40px;
  }

  .DefaultOutroHeading {
    font-size: var(--font-size-xlg);
  }

  .DefaultOutroText {
    font-size: var(--font-size-sm);
  }
}

@media screen and (max-width: 375px) {
  .DefaultOutro {
    padding: 30px 20px;
    border-radius: 40px;
  }

  .DefaultOutroHeading {
    font-size: var(--font-size-lg);
  }

  .DefaultOutroText {
    font-size: var(--font-size-xs);
  }
}
