.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  overflow: hidden;
  gap: 40px;
}

.PasswordInputField {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  overflow: hidden;
}

.PasswordInputLabel {
  font-weight: 700;
  white-space: wrap;
  margin-bottom: 10px;
}

.PasswordInputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 76px;
  gap: 25px;

  background: var(--anikawa-20);
  border: 2px solid var(--solitude-100);
  border-radius: 20px;
  padding: 0px 25px;
  cursor: text;
  transition: all 0.3 ease-out;
}

.PasswordInputWrapperWithError {
  border-color: var(--mandy-100);
  background: var(--mandy-20);
}

.PasswordInput {
  display: block;
  width: 100%;
  height: 100%;
  flex: 1;

  color: var(--solitude-100);
  font-size: var(--font-size-lg);
  font-weight: 300;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.PasswordInput::placeholder {
  color: var(--solitude-60);
}

.PasswordInputButton {
  cursor: pointer;
}

.PasswordInputErrorText {
  color: var(--mandy-100);
  font-size: var(--font-size-xs);
  font-weight: 300;
  margin-top: 5px;
}
