.Inputs {
    margin-bottom: 20px;
    min-width: 500px;
}

.Inputs[type="text"]{
    margin-bottom: 20px;
    min-width: 250px;
}

.InputsLabel {
    display: block;
    color: var(--solitude-100);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}

.InputItems {
    display: flex;
    align-items: center;
    border: 3px solid var(--solitude-100);
    border-radius: 16px;
    color: var(--solitude-100);
}

.InputItems_text {
    display: flex;
    align-items: center;
    width: 240px;
    height: 80px;
}
  
.InputItems_email {
    width: 480px; 
    height: 80px;
}
  
.InputItems_number {
    width: 480px; 
    height: 80px;
}
  
.InputItems_password {
    width: 480px; 
    height: 80px;
}
  
.InputItems_date {
    width: 480px; 
    height: 80px;
}

.InputIcon {
    width: 28px; 
    height: 28px;
    margin-left: 25px;
    margin-top: 26px;
    margin-bottom: 26px;
    color: var(--solitude-100);
}

.Input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--solitude-100);
    font-size: 24px;
    font-weight: 300;
    flex: 1;
    height: 80px;
    margin-left: 25px;
    width:  390px;
}

.InputPassword {
    margin-left: 25px;
    width: 317px;
}

.InputPassword.isPasswordVisible, 
.Input[type="password"].isPasswordVisible {
    width: 317px;
}

.Input[type="text"] {
    background: transparent;
    border: none;
    outline: none;
    color: var(--solitude-100);
    font-size: 24px;
    font-weight: 300;
    flex: 1;
    height: 80px;
}

.Input_text {
    max-width: 140px;
}

.Input[type="number"] {
    background: transparent;
    border: none;
    outline: none;
    color: var(--solitude-100);
    font-size: 24px;
    font-weight: 300;
    flex: 1;
    height: 80px;
    margin-left: 25px;
    width: 38px;
}

.Input[type="password"] {
    background: transparent;
    border: none;
    outline: none;
    color: var(--solitude-100);
    font-size: 24px;
    font-weight: 300;
    flex: 1;
    height: 80px;
    margin-left: 25px;
    width:  317px;
}

.Input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.Input::placeholder {
    color: #ccc; 
}

.Input[type="number"]::-webkit-inner-spin-button,
.Input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.UnitText {
    color: var(--solitude-100); 
    font-size: 24px;
    pointer-events: none;
}

.InputCheckbox {
    display: flex;
    align-items: center;
    gap: 8px;
}
  
.InputCheckbox input[type="checkbox"] {
    appearance: none; 
    width: 30px;
    height: 30px;
    border: 2px solid var(--solitude-100);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}
  
.InputCheckbox input[type="checkbox"]:checked {
    background-color: #000000; 
}
  
.InputCheckbox .CheckIcon {
    position: absolute;
    color: var(--solitude-100); 
    width: 28px;
    height: 28px;
    pointer-events: none;
}
  
.InputCheckbox label {
    color: var(--solitude-100);
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.InputWrapper {
    display: flex;
    align-items: center;
}

.InputsWrapper_default {
    display: flex;
    align-items: center;
}