.Inputs {
    margin-bottom: 20px;
  }

.InputsLabel {
    display: block;
    color: #fff;
    font-size: 20px;
    margin-bottom: 8px;
}

.InputItems {
    display: flex;
    align-items: center;
    background-color: #34568b;
    border: 2px solid #fff;
    border-radius: 16px;
    padding: 12px;
    color: #fff;
}

.InputIcon {
    margin-right: 12px;
    font-size: 24px;
    color: #fff;
}

.Input {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    flex: 1;
}
