.Button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 400px;
  margin: 0;
  padding: 10px 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 9999px;
  font-size: 16px;
  transition: opacity 0.3s;
  opacity: 0.7;
  overflow: hidden;
  cursor: pointer;
}

.Button:hover {
  opacity: 1;
}

.ButtonFullWidth {
  width: 100%;
}

.ButtonAction {
  background-color: var(--firefly-100);
  border-color: var(--mantis-20);
  color: var(--solitude-100);
}

.ButtonDangerousAction {
  background-color: var(--mandy-20);
  border-color: var(--mandy-100);
  color: var(--solitude-100);
}

.ButtonDefault {
  background-color: var(--firefly-100);
  border-color: var(--solitude-40);
  color: #DFECFF; 
  font-family: 'Nunito', sans-serif;
}

.ButtonSubmit {
  background-color: var(--solitude-100);
  border: none;
  color: var(--black-70);
}

.ButtonIconLeft {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.ButtonIconRight {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.ButtonContent {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
