.Header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 20px 200px;

  background-color: var(--anikawa-5);
  backdrop-filter: blur(20px);
  border-bottom: solid 1px var(--solitude-30);
}

@media screen and (max-width: 1440px) {
  .Header {
    padding: 20px 100px;
  }
}

@media screen and (max-width: 768px) {
  .Header {
    padding: 20px 50px;
  }
}

@media screen and (max-width: 375px) {
  .Header {
    padding: 20px;
  }
}
