.optionContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}
  
.checkIcon {
    flex-shrink: 0;
    font-size: 18px; 
}

.optionText {
    flex-grow: 1; /* Текст займет всё доступное пространство */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}