.MultiStepSurvey {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
  max-width: 600px;
  padding: 40px 50px;
  background-color: var(--anikawa-10);
  backdrop-filter: blur(50px);
  border: 2px solid var(--solitude-100);
  border-radius: 50px;
}

.MultiStepSurveyChoice {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.MultiStepSurveyQuestion {
  font-size: var(--font-size-xl);
  line-height: var(--font-size-xxl);
  font-weight: 700px;
}

.MultiStepSurveyAnswers {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.MultiStepSurveyButtons {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.HiddenButton {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 768px) {
  .MultiStepSurvey {
    padding: 30px 40px;
    gap: 40px;
  }

  .MultiStepSurveyQuestion {
    font-size: var(--font-size-xlg);
    line-height: var(--font-size-xl);
  }

  .MultiStepSurveyAnswers {
    gap: 20px;
  }
}

@media screen and (max-width: 375px) {
  .MultiStepSurvey {
    padding: 20px;
    gap: 30px;
    border-radius: 40px;
  }

  .MultiStepSurveyQuestion {
    font-size: var(--font-size-lg);
    line-height: var(--font-size-xlg);
  }

  .MultiStepSurveyAnswers {
    gap: 20px;
  }

  .MultiStepSurveyButton {
    padding: 8px;
  }
}
