.Checker {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.CheckerStrengthText {
  font-weight: 700;
  color: var(--strength-color);
  transition: color 0.5s ease-out;
}

.IndicatorWrapper {
  display: flex;
  height: 10px;
  gap: 30px;
}

.IndicatorBar {
  flex: 1;
  background-color: var(--anikawa-20);
  border-radius: 5px;
  transition: background-color 0.5s ease-out;
}

.IndicatorBarActive {
  background-color: var(--strength-color);
}

.CheckerGuidanceText {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--solitude-100);
}

@media screen and (max-width: 768px) {
  .IndicatorWrapper {
    gap: 20px;
  }
}

@media screen and (max-width: 375px) {
  .IndicatorWrapper {
    gap: 10px;
  }

  .Checker {
    gap: 15px;
  }

  .CheckerStrengthText {
    font-size: var(--font-size-sm);
  }

  .CheckerGuidanceText {
    font-size: var(--font-size-xs);
  }
}
